<div class="row" style="background: linear-gradient(white, #D3D8E8);">
  <div id="facebook-Bar">
    <div id="facebook-Frame">
      <div id="logo"> <a href="#" style="font-size: 40px;">facebook</a> </div>
      <div id="header-main-right">
        <div id="header-main-right-nav">
            <%= form_for @user, validate: true do |f| %>

            <table border="0" style="border:none">
              <tr>
                <td><label style="color: #fff;">
                  Email or Phone
                  <%= f.text_field :email, :id => "email", class: "field-input-text" %>
                </label>
                </td>
                <td ><label style="color: #fff;">
                  Password
                  <%= f.password_field :password, id: "pass" , class: "field-input-text"%>
                  </td>
                </label>
                <td ><label>
                  <%= f.submit "Log In", class: "uiButtonConfirm" %>
                </label>
                </td>
              </tr>
              <tr>
                <td><label>
                    <input id="persist_box" type="checkbox" name="persistent" value="1" checked="1"/>
                    <span style="color:#ccc;">Keep me logged in</span></label></td>
                <td><label><a href="" style="color:#ccc; text-decoration:none">forgot your password?</a></label></td>
              </tr>
            </table>
            <%end%>
        </div>
      </div>
    </div>
  </div>
  <div class="jerry" style="margin-left: 18%;">
    <div class="loginbox radius col-lg-6 col-offset-lg-5">
      <h2 style="color:#141823; text-align:center;">Sign Up</h2>
      <div class="loginboxinner radius">
        <div class="loginheader">
          <h4 class="title">Connect with friends and the world around you.</h4>
        </div>
        <!--loginheader-->
        <div class="loginform">
          <form id="login" action="#" method="get">
            <p>
              <input type="text" id="firstname" name="firstname" placeholder="First Name" value="" class="radius mini" />
              <input type="text" id="lastname" name="lastname" placeholder="Last Name" value="" class="radius mini" />
            </p>
            <p>
              <input type="text" id="email" name="email" placeholder="Your Email" value="" class="radius" />
            </p>
            <p>
              <input type="text" id="remail" name="remail" placeholder="Re-enter Email" class="radius" />
            </p>
            <p>
              <input type="password" id="password" name="password" placeholder="New Password" class="radius" />
            </p>
            <p>
              <button class="radius title" name="signup">Sign Up for Facebook</button>
            </p>
          </form>
        </div>
        <!--loginform-->
        <div>
          <p class="_58mv">By clicking Sign Up, you agree to our <a href="/legal/terms" id="terms-link" target="_blank" rel="nofollow">Terms</a> and confirm that you have read our <a href="/about/privacy" id="privacy-link" target="_blank" rel="nofollow">Data Policy</a>, including our <a href="/policies/cookies/" id="cookie-use-link" target="_blank" rel="nofollow">Cookie Use Policy</a>. You may receive SMS message notifications from Facebook and can opt out at any time.</p>
        </div>
      </div>
      <!--loginboxinner-->
    </div>
    <div class="text-thanks">Thanks for stopping by!</div>
    <div class="text-hope">We hope to see you again soon.</div>
  </div>
</div>
<div class="pageFooter">
  <img src="assets/footer.png">
</div>

<!--loginbox-->
<style type="text/css">
  html, body, div, span,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  body.login { background: url(bg.jpg);}
  h2 { font-size: 30px; line-height:38px; font-weight:normal; }
  .loginbox { background: #FBFCFD; padding: 10px; width: 490px; margin: 4% auto 0 auto; position: relative; margin-left: 50%; }
  .loginboxinner {
    background: #FBFCFD; padding: 5px; position: relative; border: 1px solid #FBFCFD;
    -moz-box-shadow: inset 0 1px 0 #FBFCFD; -webkit-box-shadow: inset 0 1px 0 #FBFCFD; box-shadow: inset 0 1px 0 #FBFCFD;
  }
  .loginheader { height: 20px; }
  .loginform { margin: 4px auto; text-align:center; }

  .loginbox h1 { font-size: 30px; letter-spacing: 1px; color: #555; font-weight: normal; padding-top: 10px; }
  .loginbox p { margin: 7px 0 5px 0; }
  .loginbox label { display: block; color: #666; letter-spacing: 1px; font-size: 18px; }
  .loginbox input.mini { width:195px; }
  .loginbox input {
    padding: 12px 10px; color: #ccc;
    font-family: Arial, Helvetica, sans-serif; margin-top: 8px; font-size: 15px; border: 1px solid #ccc; width: 420px;  outline: none;
  }
  .loginbox button {
    background: #5870A8; background-image:-webkit-linear-gradient(top, #637BAD, #4F67A4); padding: 10px 20px; font-size: 18px; border: 1px solid #1D3871; letter-spacing: 1px; color: #fff; width: 440px; line-height:30px; font-family:  'Helvetica Neue', Helvetica, Arial, sans-serif;
    -moz-box-shadow: 1px 1px 3px #1D3871; -webkit-box-shadow: 1px 1px 3px #1D3871; box-shadow: 1px 1px 3px #1D3871; cursor: pointer;
  }

  .radius { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
  .radius1 { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
  .title { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color:#8E989E; line-height:28px; font-weight:normal; text-align:center; font-size:16px; }

  @media screen and (max-width: 430px) {

    body { font-size: 11px; }
    button, input, select, textarea { font-size: 11px; }

    .loginbox { width: auto; margin: 10px; }
    .loginbox input { width: 95%; }
    .loginbox button { width: 100%; }
  }

  #facebook-Bar {
    background:#45619D;
    border-bottom: 1px solid #0053A6;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.52);
    min-width: 1000px;
    width: 100%;
    z-index: 1000;
  }
  #facebook-Frame {
    margin-left:auto;
    margin-right:auto;
    max-width:1000px;
    height:85px;
    display:block;
  }
  /*-------LOGO-----------*/
  #logo {
    float: left;
    height: 70px;
    position: relative;
    width: 160px;
  }
  #logo a {
    position: absolute;
    top: 30px;
    font-size:23px; font-weight:bold; color:#FFF;
    text-decoration:none;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }

  /*-------Login-----------*/
  #header-main-right {
    float: right;
    height: 68px;
    position: relative;
    top:5px;
  }
  #header-main-right-nav {
    padding: 4px 6px 4px 4px;
    position: absolute;
    right: 0;
  }
  #inputtext {
    background-color: #FFFFFF;
    height:16px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 5px 8px 5px 8px;
    width: 166px;
    border:1px solid #3A518A;
  }
  #inputtext:hover {
    border-color: #A0A0A0 #B9B9B9 #B9B9B9;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  }

  #login_form table tr td {
    padding: 0 0 0 5px;
  }
  #login_form table tr td label {
    color: #fff;
    cursor: pointer;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    padding-left: 1px;
    text-align: left;
    vertical-align: middle;
  }
  .fbbutton { border:1px solid #1D3871; width:94px; background-image:-webkit-linear-gradient(top, #637BAD, #4F67A4); font-size:14px; line-height:25px; font-weight:normal; color:#fff; }
  .image-sidebar {
    background-repeat: no-repeat;
  }
 .uiButtonConfirm {
     background-color: #4267b2;
     cursor: pointer;
     display: inline-block;
     font-size: 12px;
     -webkit-font-smoothing: antialiased;
     font-weight: bold;
     line-height: 18px;
     padding: 2px 6px;
     text-align: center;
     text-decoration: none;
     text-shadow: none;
     vertical-align: top;
     white-space: nowrap;
     border: 1px solid;
     margin-top: 16px; 
     color: white;
 }
 .uiButtonConfirm:hover {
     background-color: #365899;
     border-color: #29487d;
  }   
 .jerry {
  background: url("/assets/facebook-like.png");
  background-repeat: no-repeat;
 }
 .text-thanks {
    color: #3b5998;
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 28px;
    line-height: 30px;
    margin-left: 20px;
    text-align: center;
    width: 300px;
    word-spacing: -1px;
}
.text-hope {
    color: #1d2129;
    font-size: 20px;
    line-height: 26px;
    margin-left: 20px;
    margin-top: 15px;
    text-align: center;
    width: 300px;
    word-spacing: -1px;
}
.field-input-text {
    margin: 0;
    width: 142px;
    height: 18px;
}
.field_with_errors {
    padding: 2px;
    display: table;
} 
</style>